<% if (typeof errors !='undefined' ) { %>
      <% errors.forEach(function (error) { %>
            <span class="text-danger">
                  <%=error.msg %>
            </span>
            <% }) %>
                  <% } %>

                        <% if (success_msg !='' ) { %>
                              <p>
                                    <span class="text-success">
                                          <%=success_msg %>
                                    </span>
                              </p>
                              <% } %>

                                    <% if (error_msg !='' ) { %>
                                          <span class="text-danger">
                                                <%=error_msg %>
                                          </span>
                                          <% } %>
                                                <% if (error !='' ) { %>
                                                      <span class="text-danger">
                                                            <%=error %>
                                                      </span>
                                                      <% } %>